@{
    ViewData["Title"] = "Alter Credentials";
}

<form method="post">
    <fieldset>


        <table>
            <tr>
                <th style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">Nivel de permisiuni</th>
                <th style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">WR</th>
                <th style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">RR</th>
                <th style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">Modifica toate datele</th>
                <th style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">Modifica date comune</th>
            </tr>

            @foreach (var x in ViewBag.PermLayersList)
            {
                <tr>
                    <td style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">@x.LayerLevel</td>
                    <td style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">@x.WR</td>
                    <td style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">@x.RR</td>
                    <td style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">@x.ModifyAllData</td>
                    <td style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">@x.ModifyOrdinary</td>
                </tr>
            }
        </table>

        <br /><br />

        <table>
            <tr>
                <th style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">Cod de utilizator</th>
                <th style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">Parola</th>
                <th style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">Nivel de permisiune</th>

            </tr>
            @foreach (var x in ViewBag.CredentialsList)
            {
                <tr>
                    <td style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">@x.User</td>
                    <td style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">@x.Pass</td>
                    <td style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">@x.PermissionsLayer</td>

                </tr>
            }

            <tr>
                <td style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">
                    <input type="text" name="User" style="width:80px;" />
                </td>
                <td style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">
                    <input type="text" name="Pass" style="width:80px;" />
                </td>
                <td style="width: 200px; height: 20px; border: 1px solid black; text-align: center;">
                    <input type="text" name="PermissionsLayer" style="width:80px;" />
                </td>

            </tr>
        </table>


        <label>Alege contul pe care vrei sa il modifici sau stergi:</label>
        <br />
        <select name="Users">
            <optgroup label="Alege user">
                <option value="None">None</option>
                @foreach (var x in ViewBag.CredentialsList)
                {
                    <option value="@x.User">@x.User</option>
                }
            </optgroup>
        </select>
        <br />
        <label>Alege actiunea dorita:</label>
        <br />
        <select name="Action">
            <optgroup label="Alege actiunea">
                <option value="add">Adauga</option>
                <option value="delete">Sterge</option>
                <option value="modify">Modifica</option>
            </optgroup>
        </select>
        <br />
        <br />
        <input type="submit" value="Modifica" />
    </fieldset>
</form>


<br />

<a href="/Home/PageSelect" style="text-decoration:none; color: black;">Inapoi la selectarea paginilor</a>
<br />
<a href="/Home/AlterTabels" style="text-decoration:none; color: black;">Inapoi la selectarea tabelelor</a>